# Dependencies
node_modules/

# Test results & Reports
test-results/
playwright-report/
blob-report/
playwright/.cache/

# User Data & Sensitive Sessions (Bắt buộc ẩn)
user_data/
.chrome-profile/

# Environment variables
.env

.DS_Store
**/.DS_Store

# File report dưới local
playwright-report/
test-results/

# .gitignore
node_modules/
test-results/
.env

.env
.env.*
!.env.example
playwright/.auth/

# Bỏ qua thư mục actions-runner để không push lên git
/actions-runner/

