# Dependencies
node_modules/

# Test results & Reports
test-results/
playwright-report/
blob-report/
playwright/.cache/

# User Data & Sensitive Sessions (Bắt buộc ẩn)
user_data/
.chrome-profile/

# Environment variables
.env